@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


:root {
    /* neutral */
    --neutral-almost-white: hsl(0, 0%, 98%);
    --neutral-medium-gray: hsl(0, 0%, 41%);
    --neutral-almost-black: hsl(0, 0%, 8%);

    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.5);

    /* font body-copy */
    --fs-body-copy: 18px;
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Epilogue', sans-serif;
    
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    gap: 1rem;
}

.navbar {
    padding: 1rem 0;

    display:grid;
    grid-template-columns: auto 1fr;
}

.navigation-container {
    display: flex;
    gap: 1rem;

    list-style: none;
    z-index: 1000;
    padding-inline-start: min(3.5rem, 2vw);
}

.dropdown-toggle {
    white-space: nowrap;
    
}

.arrow {
    content: url('./images/icon-arrow-down.svg');
    vertical-align: middle;
    
    transition: transform 500ms ease-out;
}

.dropdown-toggle:hover,
.dropdown-toggle[aria-expanded="true"] {
    color: var(--neutral-almost-black);
}

.dropdown-toggle[aria-expanded="true"] .arrow {
    transform: rotateX(180deg);
}

.dropdown-toggle:hover .arrow,
.dropdown-toggle[aria-expanded="true"] .arrow {
    filter: brightness(10%);
}



@media screen and (max-width:767px) {
    .navigation-container {
        position: fixed;
        z-index: 100;
        inset-inline: 30% 0;
        inset-block: 0 0;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        background-color: var(--neutral-almost-white);    
    }
}

.login-navigation,
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    list-style: none;
}

.dropdown-menu {
    margin-top: 1rem;
}

.dropdown-menu-features::before {
    position: relative;
    padding-inline-end: .5rem;
    top: 2px;
}

.dropdown-menu-features:nth-of-type(1)::before {
    content: url('./images/icon-todo.svg');
}
.dropdown-menu-features:nth-of-type(2)::before {
    content: url('./images/icon-calendar.svg');
}
.dropdown-menu-features:nth-of-type(3)::before {
    content: url('./images/icon-reminders.svg');
}
.dropdown-menu-features:nth-of-type(4)::before {
    content: url('./images/icon-planning.svg');
}

:where(.navigation-container, .login-navigation) li a {
    text-decoration: none;
    color: var(--neutral-medium-gray);
    transition: color 300ms ease-out;
    
}

:where(.navigation-container, .login-navigation) li:hover > a {
    color: var(--neutral-almost-black);
}

.login-navigation {
    padding: 0;
    margin-block-start: 2rem;
    text-align: center;
}

.login-navigation > li:last-child > a {
    display: inline-block;
    padding: .5rem .8rem;
    width: 80%;
    border-radius: 12px;
    border: 2px solid var(--neutral-medium-gray);
}

.mobile-nav-toggle {
    position: absolute;
    inset-inline-end: 1rem;
    z-index: 1;
    
    margin-block: .75rem;
    background-image: url('./images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: 0;
}

.mobile-nav-toggle[aria-expanded="true"]{
    z-index: 120;
    background-image: url('./images/icon-close-menu.svg');
    -moz-transition: background-image 100ms, z-index 200ms 250ms;
    transition: background-image 100ms, z-index 200ms 250ms;
}

.tx--17 {
    transform: translateX(-17px);
}

main {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    gap: clamp(1.75rem, 1.0851rem + 2.1277vw, 3rem);
    align-items: center;
    justify-content: space-between;
}

.description h2 {
    font-size: clamp(1.5rem, 1.2426rem + 3.0638vw, 4rem);
    line-height: clamp(2.2rem, 1.2426rem + 3.0638vw, 4rem);
}

.description > p, a {
    color: var(--neutral-medium-gray);
}

.description p {
    width: 90%;
    text-align: center;
}

.description a {
    line-height: 1rem;
    text-decoration: none;
    padding: .8rem 1.3rem;
    background-color: var(--neutral-almost-black);
    color: var(--neutral-almost-white);
    border: 1px solid transparent;
    border-radius: .7rem;
    width: fit-content;

    transition: all 300ms ease-out;
}

.description a:hover {
    background-color: var(--neutral-almost-white);
    color: var(--neutral-almost-black);
    border: 1px solid var(--neutral-almost-black);
}

.companies {
    margin-top: clamp(1rem, 0.2021rem + 2.5532vw, 2.5rem);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .7rem;
    align-items: center;
    justify-content: space-between;
}

.companies > img {
    justify-self: center;
}

.companies > img:nth-of-type(1), img:nth-of-type(2) {
    transform: scale(.88);
}

.attribution {   
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    font-size: inherit;
    color: hsl(228, 45%, 44%);
}

.hidden {
    display: none;
}

/* from news-homepage-main */
.navigation-container[data-visible="true"] {
    transform: translateX(0);
}

.animate-on-mobile {
    transition: transform 200ms ease-in-out;
}

/* end of from news-homepage-main */

@media screen and (min-width: 768px) {
    .container {
        width: max(90vw, 75%);
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        justify-items: center;
        align-items: start;
        height: max-content;

        width: min(66rem, 100%);
        margin: 0 auto;
    }

    picture,
    .description {
        max-width: 480px;
    }

    .description {
        align-self: flex-end;
        align-items: flex-start;
    }

    .description p, a {
        font-size: .9rem;
        width: 80%;
        text-align: left;
    }

    .description > a {
        padding: 1rem 1.5rem;
    }

    .navigation-container {
        flex-direction: row;
        align-items: center;
        margin-block: .75rem;
        column-gap: max(1rem, 3vw);
    }

    
    .dropdown-menu {
        background-color: var(--neutral-almost-white);
        padding: 1rem 2rem;
        border-radius: .8rem;

        position: absolute;
        filter: drop-shadow(0 5px 5px var(--neutral-almost-black-shadow));
    }

    .navigation-container > li:last-child {
        margin-inline-start: auto;
    }

    .login-navigation {
        flex-direction: row;
        margin-top: 0;
    }

    .login-navigation > li:last-child > a {
        display: initial;
    }

    .mobile-nav-toggle {
        display: none;
    }

}

@media screen and (min-width: 1000px) {

    .login-navigation {
        column-gap: 3rem;
    }
}


