@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    outline: 1px red dashed;
}

:root {
    /* direction: rtl; */
    /* primary */
    /* no primary colors */

    /* neutral */
    --neutral-almost-white: hsl(0, 0%, 98%);
    --neutral-medium-gray: hsl(0, 0%, 41%);
    --neutral-almost-black: hsl(0, 0%, 8%);

    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.5);

    /* font body-copy */
    --fs-body-copy: 18px;
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Epilogue', sans-serif;
    
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    gap: 1rem;
}

.navbar {
    padding: 1rem 0;

    display:grid;
    grid-template-columns: auto 1fr;
}

.navigation-container {
    display: flex;
    gap: 1rem;

    list-style: none;
    z-index: 1000;
    /* padding-left: 3rem; */
    padding-inline-start: min(3.5rem, 2vw);
}

/* this is here to prevent the chevron from wrapping to another line when viewport is near 768px */
.dropdown-toggle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}

.arrow {
    /* regular color doesn't seem to have any effect */
    content: url('./images/icon-arrow-down.svg');
    padding-inline-start: .3rem; 
    vertical-align: middle;
    
    transition: transform 500ms ease-out;
}

.dropdown-toggle:hover,
.dropdown-toggle[aria-expanded="true"] {
    color: var(--neutral-almost-black);
}

.dropdown-toggle[aria-expanded="true"] .arrow {
    transform: rotateX(180deg);
    /* content: url('./images/icon-arrow-up.svg'); */
}

/* change color on hover and when selected */
.dropdown-toggle:hover .arrow,
.dropdown-toggle[aria-expanded="true"] .arrow {
    filter: brightness(10%);
}



@media screen and (max-width:767px) {
    .navigation-container {
        position: fixed;
        z-index: 100;
        /* inset: 0 0 0 30%; */
        /* next two lines are for rtl if active */
        inset-inline: 30% 0;
        inset-block: 0 0;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        /* if rtl is active 100% should be -100% */
        transform: translateX(100%);

        /* transition: all 500ms ease-in-out; */
        background-color: var(--neutral-almost-white);   
        /* backdrop-filter: blur(10px); */        
    }
}

.login-navigation,
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    list-style: none;
}

.dropdown-menu {
    margin-top: 1rem;
}

/*  animation imported start FROM: https://startbootstrap.com/snippets/animated-navbar-dropdown  
    If uncommented, lines in the 768px media query must be uncommented also, along with those in the index.html */

/* @keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
} */

/* animation imported end   */

.dropdown-menu-features::before {
    position: relative;
    padding-inline-end: .5rem;
    top: 2px;
}

.dropdown-menu-features:nth-of-type(1)::before {
    content: url('./images/icon-todo.svg');
}
.dropdown-menu-features:nth-of-type(2)::before {
    content: url('./images/icon-calendar.svg');
}
.dropdown-menu-features:nth-of-type(3)::before {
    content: url('./images/icon-reminders.svg');
}
.dropdown-menu-features:nth-of-type(4)::before {
    content: url('./images/icon-planning.svg');
}

/* hmm, dropdown-menu is not included here, but the underline disappears anyway */
:where(.navigation-container, .login-navigation) li a {
    text-decoration: none;
    color: var(--neutral-medium-gray);
    transition: color 300ms ease-out;
    
}

/* FIXED: if dropdown is shown, features or company should remain bold even on mouseout (same as dropdown-toggle above)   */
:where(.navigation-container, .login-navigation) li:hover > a {
    color: var(--neutral-almost-black);
}

.login-navigation {
    padding: 0;
    margin-block-start: 2rem;
    text-align: center;
}

.login-navigation > li:last-child > a {
    display: inline-block;  /* this way, the border goes wide, to the containing block */
    padding: .5rem .8rem;
    width: 80%;
    border-radius: 12px;
    border: 2px solid var(--neutral-medium-gray);
}

.mobile-nav-toggle {
    /* position: fixed; */
    position: absolute;
    /* right: 1rem; */
    inset-inline-end: 1rem; /* for trial of rtl style */
    z-index: 1;

    margin-block: .75rem;
    background-image: url('./images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: 0;
    /* the z-index: 120 above is moved into [aria-expan...] the transform on the next line cannot totally be seen */
    /* transition: transform 500ms ease-in-out; */
}

/* DONE: a transition opacity wherein as the menu appears the X gradually appears */
/* FIXED in JS: when menu is expanded and window resized, the dark-overlay is still there when it shouldn't */
.mobile-nav-toggle[aria-expanded="true"]{
    /* SOLVED: when the transform is performed, the svg shifts position in X. I don't know the solution yet */
    /* the next attribute should be active IF there is a scrollbar, otherwise should be inactive */
    /* translate: -17px; */
    /* transform: rotate(1turn); */
    /* transition: opacity 1s; */
    background-image: url('./images/icon-close-menu.svg');
    z-index: 120;
    transition: background-image 1s ease, z-index 1s;   
}

.tx--17 {
    transform: translateX(-17px);
}

main {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    gap: clamp(1.75rem, 1.0851rem + 2.1277vw, 3rem);
    align-items: center;
    justify-content: space-between;
}

.description h2 {
    font-size: clamp(1.5rem, 1.2426rem + 3.0638vw, 4rem);
    line-height: clamp(2.2rem, 1.2426rem + 3.0638vw, 4rem);
}

.description > p, a {
    color: var(--neutral-medium-gray);
}

.description p {
    width: 90%;
    text-align: center;
}

.description a {
    line-height: 1rem;  /* make it look more vertically centered */
    text-decoration: none;
    padding: .8rem 1.3rem;
    background-color: var(--neutral-almost-black);
    color: var(--neutral-almost-white);
    /* this border is here so it won't jump later when hovered on */
    border: 1px solid transparent;
    border-radius: .7rem;
    width: fit-content;

    transition: all 300ms ease-out;
}

.description a:hover {
    background-color: var(--neutral-almost-white);
    color: var(--neutral-almost-black);
    border: 1px solid var(--neutral-almost-black);
}

.companies {
    margin-top: clamp(1rem, 0.2021rem + 2.5532vw, 2.5rem);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* minimum gap for when viewport resize goes too small */
    gap: .7rem;
    align-items: center;
    justify-content: space-between;
}

.companies > img {
    justify-self: center;
}

.companies > img:nth-of-type(1), img:nth-of-type(2) {
    /* to size all SVGs similarly */
    transform: scale(.88);
}

.attribution {   
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    font-size: inherit;
    color: hsl(228, 45%, 44%);
}

.hidden {
    display: none;
    /* opacity: 0; */ /* not working so far */
}

/* from news-homepage-main */
.navigation-container[data-visible="true"] {
    transform: translateX(0);
}

.animate-on-mobile {
    transition: transform 500ms ease-in-out;
}

/* end of from news-homepage-main */

@media screen and (min-width: 768px) {
    .container {
        /* width: 90%; */ /* would be nice to see this go from 90% to 75% (below) smoothly */
        /* this is what I could do */
        width: max(90vw, 75%);
    }

    /* animate dropdown-menu only in desktop mode */
    /* .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    } */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;  /* wish gap would start off small then max out at this value, but this works well enough */
        justify-items: center;
        align-items: start;
        height: max-content;

        /* on larger viewport, main occupies 66rem otherwise 100% */
        width: min(66rem, 100%);
        /*  vw =800px, container =720
            ratio =.9

            vw =1000, container =900
            ratio =.9

            vw =1100, container =990
            ratio =.9

            vw =1200, container =1080
            ratio =.833

            vw =1500, container =1350
            ratio =.9

            vw =1600, container =1440
            ratio =.875

            vw =1700, container =1440
            ratio =.847

            vw =1800, container =1440
            ratio =.8

            vw =1920, container =1440
            ratio =.75 */

        margin: 0 auto;
    }

    picture,
    .description {
        max-width: 480px;
        /* min-width: 300px; */
    }

    .description {
        align-self: flex-end;
        align-items: flex-start;
    }

    .description p, a {
        font-size: .9rem;
        width: 80%;
        text-align: left;
    }

    .description > a {
        padding: 1rem 1.5rem;
    }

    .navigation-container {
        flex-direction: row;
        align-items: center;
        margin-block: .75rem;
        column-gap: max(1rem, 3vw);
    }

    
    .dropdown-menu {
        background-color: var(--neutral-almost-white);
        padding: 1rem 2rem;
        border-radius: .8rem;

        position: absolute;
        filter: drop-shadow(0 5px 5px var(--neutral-almost-black-shadow));
    }

    .navigation-container > li:last-child {
        margin-inline-start: auto;
    }

    .login-navigation {
        flex-direction: row;
        margin-top: 0;
    }

    .login-navigation > li:last-child > a {
        display: initial;  /* this way, the border goes wide, to the containing block */
    }

    .mobile-nav-toggle {
        display: none;
    }

}

@media screen and (min-width: 1000px) {

    .login-navigation {
        column-gap: 3rem;
    }
}


